#mobileImage {
  max-width: 100%;
  position: relative;
  z-index: 5;
  max-height: 100%;
  margin: 0 auto 2rem 0;
}
#mobile-content {
  background: #000000;
  height: 25%;
  max-width: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  border-radius: 0.8rem;
  border: 4px solid #222222;
  position: absolute;
  bottom: 15%;
  left: 15%;
  z-index: 6;
}
#mobile-content::after {
  width: 3em;
  height: 3em;
  outline: 2px solid #000;
  outline-offset: -2px;
  display: block;
  background: url(/assets/download-icon.gif);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100%;
  background-size: 100%;
  content: '';
  flex-shrink: 0;
}
#mobile-content > * {
  height: 100%;
}
#mobile-content-image {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mobile-content-text {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#mobile-content-text-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 1rem;
}
#mobile-content-col-row1 {
  font-size: 1rem;
  font-weight: 600;
}
#mobile-content-col-row2 {
  font-size: 0.9rem;
  font-weight: 400;
  color: #0071eb;
}
